<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% include "estoque/partials/head.html" %}
    <title>{% block title %}Criar Venda | Estoque++{% endblock title %}</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    {% include "estoque/partials/header.html" %}
    {% include "estoque/partials/header-vendas.html" %}
    
    <h2 class="textos">Criar Venda:</h2>

    {% if mensagem %}
        <p class="textos">{{ mensagem }}</p>
    {% endif %}

    <form action="{% url 'criar_venda' %}" method="POST" class="formulario lexend-300">
        {% csrf_token %}

        <p>Dados do Cliente: </p>
        <div class="form-group">
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            <button id="buscarClienteBtn" type="button" class="lexend-300">Buscar Cliente</button>
        </div>
        <p></p>
        <div class="form-group">
            {{ form.nome_cliente.label_tag }}
            {{ form.nome_cliente }}
        </div>
        <div class="form-group">
            {{ form.endereco.label_tag }}
            {{ form.endereco }}
        </div>
        <div class="form-group">
            {{ form.cep.label_tag }}
            {{ form.cep }}
        </div>

        <p>Dados dos Produtos:</p>
        {{ form.produtos.management_form }}
        <div id="produtos">
            <div class="produto-form">
                {{ form.produtos.forms.0.produto_id.label_tag }}
                {{ form.produtos.forms.0.produto_id }}
                <button id="buscarProdutoBtn" class="lexend-300" type="button">Buscar Produto</button>   
                {{ form.produtos.forms.0.produto_nome.label_tag }}
                {{ form.produtos.forms.0.produto_nome }}

                {{ form.produtos.forms.0.produto_preco.label_tag }}
                {{ form.produtos.forms.0.produto_preco }}

                {{ form.produtos.forms.0.produto_estoque.label_tag }}
                {{ form.produtos.forms.0.produto_estoque }}

                {{ form.produtos.forms.0.quantidade.label_tag }}
                {{ form.produtos.forms.0.quantidade }}
                <button type="button" class="remover-produto-btn hidden">Remover Produto</button>
            </div>
        </div>
        
        <button id="adicionarProdutoBtn" type="button" class="lexend-300">Adicionar Produto</button>

        <p>Dados da Venda:</p>
        <div class="form-group">
            {{ form.data.label_tag }}
            {{ form.data }}
        <div class="form-group">
            {{ form.preco_total.label_tag }}
            {{ form.preco_total }}
        </div>
        <div class="form-group">
            {{ form.desconto.label_tag }}
            {{ form.desconto }}
        </div>
        <div class="form-group">
            {{ form.forma_pagamento.label_tag }}
            {{ form.forma_pagamento }}
        </div>
        <p></p>
        <button type="submit" class="lexend-300">Criar Venda</button>
    </form>
    
    <script>
        $(document).ready(function() { // Script para buscar cliente a partir do CPF
            $('#buscarClienteBtn').click(function() {
                var cpf = $('#id_cpf').val();
                if (cpf) {
                    $.ajax({
                        url: "/buscar-cliente-venda/",  // URL correspondente à view buscar_cliente_venda
                        type: "GET",
                        data: {'valor': cpf},
                        success: function(response) {
                            if (!response.error) {
                                $('#id_nome_cliente').val(response.nome_cliente);
                                $('#id_endereco').val(response.endereco);
                                $('#id_cep').val(response.cep);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar cliente.');
                        }
                    });
                } else {
                    alert('Por favor, insira um CPF antes de buscar o cliente.');
                }
            });
        });

        $(document).ready(function() { // Script para buscar o produto a partir do ID
            $('#buscarProdutoBtn').click(function() {
                var produtoId = $('#id_produto_id').val();
                if (produtoId) {
                    $.ajax({
                        url: "/buscar-produto-venda/",  // URL correspondente à view para buscar o produto
                        type: "GET",
                        data: {'id': produtoId},
                        success: function(response) {
                            if (!response.error) {
                                // Preencher os campos do formulário com os dados do produto
                                $('#id_produto_nome').val(response.nome);
                                $('#id_produto_preco').val(response.preco);
                                $('#id_produto_estoque').val(response.estoque);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar produto.');
                        }
                    });
                } else {
                    alert('Por favor, insira o ID do produto antes de buscar.');
                }
            });
        });
        // Script para calcular o
        $(document).ready(function() { 
            $('#produtos').on('input', function() {
                console.log("Evento de input acionado"); 
                $('.produto-form').each(function() {
                    console.log("Iterando sobre um formulário de produto");
                    var quantidade = parseInt($(this).find('[name$="quantidade"]').val());
                    var estoque = parseInt($(this).find('[name$="produto_estoque"]').val());
                    var precoUnitario = parseFloat($(this).find('[name$="produto_preco"]').val());
                    var desconto = parseFloat($('#id_desconto').val());
                    var precoTotalField = $('#id_preco_total');
        
                    console.log(`Quantidade: ${quantidade}`);
                    console.log(`Estoque: ${estoque}`);
                    console.log(`Preço unitário: ${precoUnitario}`);
                    console.log(`Desconto: ${desconto}`);
        
                    if (!isNaN(quantidade) && !isNaN(precoUnitario)) {
                        if (quantidade > estoque) {
                            alert('Quantidade excede o estoque disponível.');
                            $(this).find('[name$="quantidade"]').val(''); 
                            precoTotalField.val('');
                        } 
                        else if (quantidade <= 0) {
                            alert('Quantidade deve ser um valor positivo.');
                            $(this).find('[name$="quantidade"]').val(''); 
                            precoTotalField.val('');
                        }
                        else {
                            var precoTotal = quantidade * precoUnitario;
                            if (!isNaN(desconto)) {
                                console.log(`Desconto válido: ${desconto}`);
                                if(desconto >= 0 && desconto <= 100){
                                    var precoComDesconto = precoTotal * (1 - desconto / 100);
                                    precoTotalField.val(precoComDesconto.toFixed(2));
                                }
                                else{
                                    alert('Desconto deve ser um valor entre 0 e 100.');
                                    $('#id_desconto').val(''); 
                                    precoTotalField.val('');
                                }
                            }
                            else {
                                console.log(`Desconto inválido: ${desconto}`);
                                precoTotalField.val(precoTotal.toFixed(2));
                            }
                        }
                    }
                    console.log(`Preço total: ${precoTotalField.val()}`);
                });
            });
        });
        
        

        $(document).ready(function() {
            // Adicionar produto
            var form_idx = $('#produtos .produto-form').length;
            $('#adicionarProdutoBtn').click(function() {
                form_idx++;
                var clone = $('#produtos .produto-form:last').clone(true);
                clone.find(':input').each(function(index, element) {
                    var name_attr = $(element).attr('name');
                    if (name_attr) {
                        var new_name = name_attr.replace(/(\d+)(?!.*\d)/, form_idx);
                        $(element).attr('name', new_name);
                        $(element).attr('id', new_name);
                        $(element).val('');
                    }
                    $(element).attr('name', new_name);
                    $(element).attr('id', new_name);
                    $(element).val('');
                });
                clone.appendTo('#produtos');
                return false;
            });
            // Remover produto
            $('#produtos').on('click', '.remover-produto-btn', function() {
                $(this).closest('.produto-form').remove();
                return false;
            });
        });
    </script>

</body>
</html>